<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Pals</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <script src="/js/script.js"></script>   -->
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
  
  <body>
    <div class="headerStyle">
      <img src="/img/logo3.png" alt="logo" class="mainLogo">
    </div>

    <div class="headerStyle">
      <h4><a>Admin Access</a></h4>
    </div>
    
    <div class="navbar">
      <a href="/list/edit">Profiles</a>
      <a href="/users">Users</a>
      <a href="/blog/admin">Blog</a>
      <a href="/admin">Account</a>
      <a href="/logout" class="Login-header">Logout</a>
    </div>
  