<%- include("partials/adminHeader.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Account</title>
  <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

  <!-- Account Content Section -->
  <section class="content-wrap">
    <br><br><br>
    <h2>Total site visits: <span id="visits" class="bold"></span> visits!</h2>
  </section>

  <script src="/js/script.js"></script>
  <!-- Footer Section -->
  <%- include("partials/footer.ejs") %>
</body>
</html>
