<%- include("partials/adminHeader.ejs") %>

<div class="content-wrap">
    <h1>Admin Edit Blog</h1>
    <p>Admin will be able to edit Blogs here.</p>
  </div>


<br/><br/>
    
    <a href="/admin" class="button">Home</a>
  </div>
  <%- include("partials/footer.ejs") %>
</body>
</html>
