<%- include("partials/header.ejs") %>

<div class="centered">
  <h1>Email Sent</h1>
  <p>If your username and email are valid, you will receive a password reset email shortly. Please check your inbox.</p>
</br>
  <a href="/">Return to Home</a>
</div>

<%- include("partials/footer.ejs") %>

</body>
</html>
