  <%- include("partials/header.ejs") %>
  <div class="content-wrap">
    <h1>There was an error adding your Profile</h1>
    <h2>Please try again!</h2>
  </div>
  <%- include("partials/footer.ejs") %>
  </body>
  </html>
