<%- include("partials/header.ejs") %>

<div class="content-wrap">
    <h1>Friends</h1>
    <p>Welcome to the Friends page! Here you can see a list of friends or add new ones.</p>
  </div>

<!-- Footer -->
<%- include("partials/footer.ejs") %>
</body>
</html>
