  <%- include("partials/header.ejs") %>
  <div class="content-wrap">
    <br>
    <h1>Welcome to PetSocial! 🐾</h1>
    <img id="index_img" src="<%= petUrl %>" alt="Image of Planet Earth">
    <p class="main-para">
      Hello and a warm welcome to <span class="bold">PetSocial</span>, the ultimate social platform for pets and their owners!<br><br>

      We're delighted to have you join our vibrant community of pet lovers.<br><br>

      At <span class="bold">PetSocial</span>, we believe that our furry, feathered, and scaled friends deserve companionship just as much as we do. 
      That's why we've created a space where your beloved pets can find playdates, friendships, and possibly even love!<br><br>

      Our platform is designed to be user-friendly and fun. 
      You can create detailed profiles for your pets, showcasing their unique personalities, interests, and of course, their most adorable photos.<br><br>

      Whether your pet is playful or laid-back, a puppy or a senior, they're all welcome here.<br><br>

      But that's not all! You can also discover compatible matches for your pets in your local area. 
      Who knows, your pet's new best friend could be just around the corner!<br><br>

      So go ahead, dive in, and start exploring. 
      If you have any questions or need assistance, we're just a bark, chirp, or hiss away.<br><br>

      Welcome aboard and let's make some pawsome memories together!<br><br>

      Best Wishes,<br>
      The PetSocial Team
    </p>

  </div>
    <script src="/js/script.js"></script>
  <%- include("partials/footer.ejs") %>
  </body>
  </html>
