<%- include("partials/header.ejs") %>

  <h1>Set New Password</h1>

  <!-- Display error message if it exists -->
  <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div>
    <br>
  <% } %>

  <form action="/reset-password" method="POST">
    <input type="hidden" name="token" value="<%= token %>">

    <label for="password">New Password:</label>
    <input type="password" name="password" id="password" required><br><br>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required><br><br>

    <button type="submit">Reset Password</button>
  </form>

  
  <%- include("partials/footer.ejs") %>

</body>
</html>
