<%- include("partials/header.ejs") %>

  <h1>Password has been successfully reset</h1>
  <p>Your password has been reset successfully. You can now log in with your new password.</p>
  <a href="/login">Login Page</a>

  
  <%- include("partials/footer.ejs") %>

</body>
</html>
