  <%- include("partials/header.ejs") %>
  <div class="content-wrap">
    <br>
    <h1>Realtionships</h1>


    <br><br><br><br>
    <p>Relationships will go here</p>
    <br><br><br><br>

  </div>
  <%- include("partials/footer.ejs") %>
  </body>
  </html>
