<%- include("partials/header.ejs") %>

<div class="centered"> 

  <h1>Password Reset</h1>
  
  <!-- Display error message if it exists -->
  <% if (errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div>
    <br>
  <% } %>

  <form action="/password-reset" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required><br><br>

    <label for="email">Email Address:</label>
    <input type="email" name="email" required><br><br>

    <button type="submit">Reset Password</button>
  </form>
</div>

  <%- include("partials/footer.ejs") %>
  
</body>
</html>