/* Global Styles */
html * {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 16px;
}

/* Header Styles */
.headerStyle {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

.mainLogo {
  width: 400px;
  height: auto;
}

.admin-header {
  color: red;
  font-weight: normal;
  text-decoration: none;
  background: linear-gradient(to right, red, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Navigation Styles */
.navdiv {
  background-color: #f2f2f2;
}

.navbar {
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  background: linear-gradient(to right, rgb(248, 152, 152) 50%, #ffffff 50%);
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s ease;
}

.navbar a:hover {
  background-color: #50e70a;
  background-position: 0% 100%;
}

/* Main Content Styles */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.content-wrap {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; /* Centers the element horizontally */
  text-align: center; /* Aligns text content in the center */
}

.main-para {
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 0px;
  border: 0;
  margin: 4em 5%;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.profiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Centers the grid horizontally */
  justify-content: center; /* Ensures the grid itself is centered */
}

.profile-box {
  display: flex;
  flex-direction: row;
  border: 1px solid #b1afaf;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  text-align: left;
  background: #eeeded;
  align-items: center;
  gap: 15px;
}

.profile-info {
  flex: 1;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* List Styles */
.update-delete-list {
  list-style: none;
  padding: 0;
}

.update-delete-list li {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.list-item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.list-item a:hover {
  color: #4CAF50;
}

.list-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.no-list-items {
  text-align: center;
  color: #999;
}

/* Form Styles */
.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group label {
  margin-right: 20px;
}

input, textarea, select {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin-block: 5px;
  vertical-align: middle;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 16vw;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

input:focus, textarea:focus, select:focus {
  border-color: red;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

input:hover, textarea:hover, select:hover {
  border-color: red;
}

/* Radio Button Customization */
input[type='radio'] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
  position: relative;
}

input[type='radio']:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  border-radius: 100%;    
}

input[type='radio']:checked:before {
  background: red;
}

input[type='radio']:hover {
  border-color: red;
}

/* Button Styles */
button {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: 10px;
}

button:hover {
  color: red;
  background-color: white;
  border-color: red;
  border: solid;
  border-width: 1px !important;
  padding: 10px;
  margin: 10px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.button-ignore {
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  border: solid 1px transparent;
  padding: 10px;
  margin: 10px;
}

.button-ignore:hover {
  color: #333;
  background-color: white;
  border-color: #333;
  padding: 10px;
  margin: 10px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons a {
  color: #ff4757;
  text-decoration: none;
  margin: 0 5px;
}

.social-icons a:hover {
  color: white;
  transition: color 0.3s ease;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .main-para {
    margin: 2em 10%;
  }

  .profiles-grid {
    grid-template-columns: 1fr;
  }

  .profile-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .main-para {
    margin: 1em 5%;
  }

  .navbar a {
    padding: 5px 8px;
    font-size: 16px;
  }

  .like-button {
    padding: 3px 8px;
  }
}

/* Blog Page Styles */
.page-title {
  font-size: 2em;
  color: #ff4757;
  margin-bottom: 1em;
  text-align: center;
}

.blog-posts {
  width: 100%;
  max-width: 1000px; /* Increase max-width for wider posts */
  margin: 20px auto;
}

.post {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
}

.post-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 5px;
}

.post-author {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.post-content {
  font-size: 1em;
  line-height: 1.5;
  color: #444;
}

.post-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.no-posts-message {
  font-size: 1em;
  color: #999;
  text-align: center;
  margin-top: 20px;
}

/* New Post Form Styles */
/* New Post Form Styles */
.new-post-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Make the form container much wider */
  max-width: 1000px; /* Set a maximum width */
  margin: 40px auto;
  text-align: left;
}

.new-post-form h2 {
  color: #ff4757;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.new-post-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.new-post-form label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #333;
}

.new-post-form input[type="text"],
.new-post-form textarea {
  width: 100%; /* Full width of the container */
  padding: 12px 15px; /* Increased padding for comfort */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1em;
  resize: vertical;
  box-sizing: border-box; /* Ensures padding doesn’t increase width */
}

.new-post-form .form-button {
  background-color: #ff4757;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Full width on mobile */
}

.new-post-form .form-button:hover {
  background-color: #e04040;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .new-post-form {
    width: 95%; /* Adjust to screen width on smaller devices */
  }
}


.login-prompt {
  font-size: 1em;
  text-align: center;
  margin-top: 20px;
}

.login-prompt a {
  color: #ff4757;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .blog-posts, .new-post-form {
    max-width: 95%;
  }

  .post-title {
    font-size: 1.25em;
  }

  .new-post-form {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .main-para {
    margin: 1em 5%;
  }

  .navbar a {
    padding: 5px 8px;
    font-size: 16px;
  }

  .like-button {
    padding: 3px 8px;
  }
}

.center-table {
  display: flex;
  justify-content: center;
  margin-top: 50px;  
}
table {
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
a.action-link {
  margin: 0 5px;
  text-decoration: none;
  color: #007BFF;
}
a.action-link:hover {
  text-decoration: underline;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.form-group {
  margin-bottom: 5px;
}

label, input {
  display: block;
  text-align: center;
}

input {
  margin-top: 5px;
}

.post {
  position: relative; /* Ensure the delete option aligns within this container */
  padding-right: 30px; /* Add some padding for spacing */
}

.delete-post {
  color: red;
  cursor: pointer;
  font-size: 0.9em;
  position: absolute;
  top: 10px; /* Adjust spacing */
  right: 10px; /* Maintain a consistent margin */
}

.edit-post {
  cursor: pointer;
  font-size: 0.9em;
  position: absolute;
  top: 10px; /* Adjust spacing */
  right: 30px; /* Maintain a consistent margin */
}
.flag-post {
  cursor: pointer;
  font-size: 0.9em;
  position: absolute;
  top: 10px; /* Adjust spacing */
  right: 50px; /* Maintain a consistent margin */
}
.unflag-post {
  color: red;
  cursor: pointer;
  font-size: 0.9em;
  position: absolute;
  top: 10px; /* Adjust spacing */
  right: 50px; /* Maintain a consistent margin */
}

.edit-post-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 600px; /* Limit the form width */
  margin: 0 auto; /* Center the form horizontally */
}

.edit-post-form h3 {
  margin-bottom: 15px;
}

.edit-post-form .form-group {
  margin-bottom: 15px;
}

.edit-post-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-post-form input[type="text"],
.edit-post-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.edit-post-form button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.edit-post-form button:hover {
  background-color: #0056b3;
}

.edit-post-form button:last-child {
  background-color: #6c757d;
}

.edit-post-form button:last-child:hover {
  background-color: #565e64;
}


/* New Post */
.blog-container {
  display: flex;
}

.new-post-button-container {
  margin-right: 20px;
}

.new-post-button {
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-post-button:hover {
  background-color: #e04040;
}

/* Explore Page Styles */
.explore-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto; /* Centers the element horizontally */
  text-align: center; /* Aligns text content in the center */
}

.explore-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
}

.map-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.map-controls button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.map-controls button:hover {
  background-color: #e04040;
}

#map {
  width: 100%;
  height: 500px;
  position: relative; /* Ensure it is positioned relative */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}


.zip-code-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.zip-code-input input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}

.zip-code-input button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.zip-code-input button:hover {
  background-color: #e04040;
}

/* Friends Page Specific Styles */
.center-block {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.center-block h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.center-block p {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

.center-block form {
  margin: 15px 0;
}

.center-block input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: calc(100% - 22px); /* Adjust for padding and border */
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.center-block button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.center-block button:hover {
  background-color: #e04040;
}

.center-block .button-ignore {
  background-color: #777;
  color: white;
}

.center-block .button-ignore:hover {
  background-color: #555;
}

/* Friend List Styles */
.ul-friends {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.li-friends form {
  display: inline-block;
  margin: 0;
}

.li-friends button {
  margin: 0 5px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .center-block {
    width: 95%;
    padding: 15px;
  }

  .center-block input[type="text"] {
    width: 100%;
  }

  .li-friends {
    flex-direction: column;
    text-align: center;
  }

  .li-friends form {
    margin: 5px 0;
  }
}

/* centered */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

/* Filter Menu*/
.filter-dropdown {
  position: relative;
  display: inline-block;
  text-align: left; /* Aligns text inside the container to the left */
  margin: 0; /* Optional: Adjust vertical margin */
  padding: 0;
}

.filter-dropdown .dropbtn {
  margin-left: 0; /* Ensures the button starts at the left */
}

.dropbtn {
  background-color: #ff4757;
  color: white;
  padding: 5x 10px;
  border: 1px solid transparent; /* Add a default transparent border */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dropbtn:hover {
  color: red;
  background-color: white;
  border-color: red; /* Add the red border */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  right: 0; /* Aligns the dropdown to the right edge of the button */
  max-width: calc(100vw - 20px); /* Prevents the dropdown from exceeding the viewport width */
  overflow-x: auto;
}

.dropdown-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-content input,
.dropdown-content select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.filter-apply-button {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.filter-apply-button:hover {
  color: red;
  background-color: white;
  border-color: red; /* Add the red border */
}

/* Profiles Floating Box */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease; /* Add a fade effect */
  opacity: 0; /* Default state */
}

.modal.show {
  display: block;
  opacity: 1; /* Fully visible when shown */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content Layout */
/* Modal Content Layout */
.modal-content {
  display: flex; /* Align content side by side */
  flex-direction: row; /* Ensure image and text are in a row */
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Vertically align image and text */
  border: 1px solid #b1afaf;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: #eeeded;
  width: 50%; /* Reduced modal width to make it smaller */
  max-width: 600px; /* Constrain max width */
  margin: 10% auto; /* Center the modal on the screen */
  position: relative; /* Ensure close button is positioned correctly */
}

/* Profile Image in Modal */
.modal-content img {
  width: 250px; /* Adjust image size for smaller modal */
  height: 250px; /* Adjust image size for smaller modal */
  border-radius: 8px; /* Slightly rounded corners */
  object-fit: cover;
  margin-right: 25px; /* Increased padding between image and text */
}

/* Profile Info on the Right */
.modal-profile-info {
  flex: 1; /* Take up remaining space */
  font-size: 14px; /* Slightly smaller font size for smaller modal */
  line-height: 1.5;
  text-align: left; /* Align text to the left */
}

.modal-profile-info h2 {
  margin-bottom: 10px;
  font-size: 20px; /* Slightly smaller title size */
}

.modal-profile-info p {
  margin: 5px 0;
  text-align: left; /* Ensure all paragraphs are aligned left */
}

.modal-profile-info strong {
  font-weight: bold;
}

/* Modal Close Button */
.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
}

.modal-content .close:hover {
  color: black;
}


/* Fake Button*/
.fake-button {
  display: inline-block;
  background-color: red; /* Red background */
  color: white; /* White text */
  padding: 10px 20px; /* Add padding for size */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 14px; /* Adjust font size */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.fake-button:hover {
  background-color: darkred; /* Darker red on hover */
}

/* Friend Request */
.friends-container {
  display: flex;
  justify-content: space-between; /* Space between the boxes */
  gap: 20px; /* Spacing between the boxes */
  flex-wrap: wrap; /* Stack on smaller screens */
  margin-top: 20px; /* Add some space from the top */
}

.friend-requests, .current-friends {
  flex: 1; /* Equal width for both boxes */
  max-width: 48%; /* Restrict width */
  background-color: #f9f9f9; /* Match the floating box background */
  padding: 20px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Floating box shadow effect */
  text-align: center; /* Center-align text */
}

.friend-requests h2, .current-friends h2 {
  margin-bottom: 15px; /* Space below headings */
  font-weight: bold;
}

.ul-friends {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li-friends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff; /* White background for list items */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

